#menu {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1;
}

ul {
    list-style-type: none;
    color: white;
}

li {
    padding: 5px;
    text-size-adjust: 100px;
}

.side_panal {
    width: 100%;
    height: max-content;
    background-color: black;
    position: absolute;
    /* animation: downTop 1s ease; */
    top: -150px;
}

.side_panal_visibility {
    animation: topDown 1s ease;
    top: 0px;
}

@keyframes topDown {
    from {
        top: -150px;
    }

    to {
        top: 0px;
    }
}

@keyframes downTop {
    from {
        top: 0px;
    }

    to {
        top: -150px;
    }
}